@font-face {
  font-family: 'sidebar';
  src: url(https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap)
}

#root {
  height: 100%;
  margin: 0;
}

#header {
  background-color: #ec7533;
  padding-left: 10px;
  padding-right: 20px;
  height: 70px;
}

div.authentication {
  > button {
    margin-top: 20px;
    &.login {
      background-color: #900c3f;
      border-color: #900c3f;
      &:hover {
        background-color: #bd4271;
        border-color: #900c3f;
      }
    } 
  }
  #logout:hover {
    color: #000 !important;
    border-color: #000 !important;
  }
}

#sidebar {
  height: 100%;
  background-color: #f5b43c;
  width: 400px;
}

.sidebar {
  height: 100%;
  margin-top: 20px;
  width: 400px;
}

#content {
  background-color: #fcf8f5;
}

.search-box {
  width: 100%;
}

.search-box-label {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: #900c3f;
}

#logo {
  height: auto;
  width: auto;
  max-width: 64px;
}

#recipe-list-grid {
  padding-top: 20px;
  grid-gap: 20px;
}

.recipe-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.recipe-modal-image {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.recipe-card {
  div.ant-card-body {
    height: 120px;
  }
  ul.ant-card-actions > li > span > button {
    height: 100%;
    color: #000;
  }

}

.recipe-card-meta {
  height: 60px;
  div.ant-card-meta-detail > div.ant-card-meta-title {
    white-space: pre-wrap;
    overflow: auto;
  }
}

#page-sidebar {
  max-width: 500px;
  // width: 350px;
  > div {
    padding: 20px;
  }
}

button.preference-search-button {
  background-color: #900c3f;
  border-color: #900c3f;
  &:hover, &:focus {
    background-color: #bd4271;
    border-color: #900c3f;
  }
}

.preference-chip {
  overflow: auto;
  text-align: center;
  > span {
    font-size: 16px;
    display: 'inline-block'; 
    padding: 2px,
  }
}

.preference-tag-button {
  padding: 5px;
  background: #f5b43c !important;
  position: -8px !important;
}

// ghost button style
.preference-tag-button:hover, .logout:hover{
  color: #000 !important;
  border-color: #000 !important;
}

#time-switch {
  .ant-switch-inner {
  margin: 0 6px 0 24px;
  }
  &.ant-switch-checked {
    background-color: #900c3f;
  }
}

.time-slider {
  .ant-slider-handle {
    border-color: #757073 !important;
    &:hover {
      border-color: #000 !important;
    }
  }
}

@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Pompiere&display=swap');
