* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.ant-layout.ant-layout-has-sider {
	overflow-x: visible;
    background: #f5b43c;
}

#root {
  min-height: 100%;
  margin: 0;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#header {
  background-color: #ec7533;
  padding-left: 10px;
  padding-right: 20px;
  height: 70px;
  width: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
  z-index: 1000;
}
.ant-input-affix-wrapper-lg {
  max-height: 60px !important;
}

div.authentication {
  button {
    margin-top: 20px;
    &.login, &.loading {
      background-color: #900c3f;
      border-color: #900c3f;
      &:hover {
        background-color: #bd4271;
        border-color: #900c3f;
      }
    }
    &.login {
      ant-btn-loading-icon {
        display: none;
      }
    }
  }
  .logout:hover {
    color: #000 !important;
    border-color: #000 !important;
  }
}

.recipe-list-placeholders{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#sidebar {
  background-color: #f5b43c;
  min-height: 100vh;
  height: 100%;
  margin-bottom: 100px;
  padding-bottom: 120px;
  @media screen and (min-width: 2650px) {
    width: 15%;
  }
  @media screen and (max-width: 2649px) {
    width: 18%;
  }
}

.sidebar {
  height: 100%;
  padding-top: 70px;
  position: fixed;
  left:0;
  overflow: auto;
  @media screen and (min-width: 2650px) {
    width: 15%;
  }
  @media screen and (max-width: 2649px) {
    width: 18%;
  }
  .avatar {
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    margin: 0 auto;
  }
  h1 {
    // font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .ant-collapse {
    display: inline-block;
    width: 100%;
    background-color: #f5b43c;
  }
}

#content {
  background-color: #fcf8f5;
  margin-top: 70px;
}

.search-box {
  width: 100%;
}

.search-box-wrapper {
  background-color: #fcf8f5;
  height: 70px;
  width: 100%;
  div.ant-row {
    position: fixed;
    background-color: #fcf8f5;
    -webkit-transform: translateZ(0);
    z-index: 1000;
    padding-right: 50px;
    padding-bottom : 10px;
    @media screen and (min-width: 2650px) {
      width: 85%;
    }
    @media screen and (max-width: 2649px) {
      width: 82%;
    }
  }
}

#logo {
  height: 55px;
  margin: 10px 5px;
}

.avatar {
  margin-top: 5px;
}

#recipe-list-grid {
  padding-top: 20px;
  margin-top: auto;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);

  .image-item:nth-child(5n){
    grid-column-end: span 2;
  }
}

.recipe-image-container {
  width: 300px;
  height: 300px;
  position: relative;
  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recipe-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    &.active {
      z-index: 10;
    };
    &.hidden {
      display: none;
    }   
  }
}

.recipe-modal-image {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.recipe-modal-goto-btn {
  background-color: #900c3f !important;
  border-color: #900c3f !important;
  &:hover {
    background-color: #bd4271 !important;
    border-color: #900c3f !important;
  }
}


.recipe-card {
  // div.ant-card-body {
  //   height: 120px;
  // }
  ul.ant-card-actions > li > span > button {
    height: 100%;
    color: #000;
  }

}

.recipe-card-meta {
  div.ant-card-meta-detail > div.ant-card-meta-title {
    word-wrap: auto;
  }
  .ant-card-meta-description {
    color: #ec7533;
  }
}

#page-sidebar {
  max-width: 400px;
  // width: 350px;
  > div {
    padding: 20px;
  }
}

button.preference-search-button {
  background-color: #900c3f;
  border-color: #900c3f;
  &:hover, &:focus {
    background-color: #bd4271;
    border-color: #900c3f;
  }
}

.preference-chip {
  margin-top: 4px !important;
  border-radius: 2px;
  text-align: center;
  > span {
    font-size: 16px;
    display: 'inline-block';
    padding: 2px,
  }
  &.uncolored {
    background: #f5b43c !important;
    &:hover {
      color: #000 !important;
      border-color: #000 !important;
    }
    &:focus {
      color: #000 !important;
      border-color: #d9d9d9 !important;
    }
  }
}

.preference-tag-button {
  padding: 5px;
  background: #f5b43c !important;
  margin-top: 4px !important;
}


// ghost button style
.preference-tag-button, .preference-tag-button, .logout, .logout, .modal-tag-button, .modal-star-button{
  &:hover {
    color: #000 !important;
    border-color: #000 !important;
  }
  &:focus {
    color: #000 !important;
    border-color: #d9d9d9 !important;
  }
}

.free-text-search {
  .ant-input, .anticon {
    font-size: 20px;
  }
}

.modal-tag-button {
  padding: 5px;
  margin-top: 4px !important;
}

#time-switch {
  .ant-switch-inner {
  margin: 0 6px 0 24px;
  }
  &.ant-switch-checked {
    background-color: #900c3f;
  }
}

.time-slider {
  .ant-slider-handle {
    border-color: #757073 !important;
    &:hover {
      border-color: #000 !important;
    }
  }
}

.ant-select-selection-placeholder{
  visibility: visible;
}

.explore-title {
  color: #ec7533;
  font-size: 22px;
  margin-top: 15px;
}

.explore-divider {
  height: 2px !important;
}

.carousel {
  .carousel-button {
    z-index: 10;
    color: #fff;
    font-size: 16px;
    background-color: #900c3f !important;
    border-color: #900c3f !important;
    &:hover {
      background-color: #bd4271 !important;
      border-color: #900c3f !important;
    }
  }
  .slick-slide {
    padding: 0 8px;
    box-sizing: border-box;
   }
   .slick-prev, .slick-next {
     display: none !important;
   }
   .carousel-title {
     > h1 {
        font-size: 20px;
     }
     > h2 {
       border-right: 1px solid #757073;
       color:  #757073;
       font-size: 20px;
       padding-right: 12px;
       margin-right: 12px;
     }
     
   }

   .slider-row {
    align-items: stretch;
    flex-flow: nowrap;
    display: flex;
    padding: 15px
   }

   .arrow-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
}