// This is where I override the default color selections. to apply the changes call yarn sass
$pf-global--enable-font-overpass-cdn: true;
$pf-global--enable-fontawesome-cdn: true;
$pf-global--BackgroundColor--light-300: #fcf8f5;
$pf-global--BackgroundColor--dark-100: #ec7533;
$pf-global--BackgroundColor--light-100: #f5b43c;
.page_header {
  background-color: #ec7533;
}

@import "../node_modules/@patternfly/patternfly/patternfly.scss";
