
scraper/__pycache__/
scraper/__pycache__/
api/package-lock.json
scraper/__pycache__/__init__.cpython-38.pyc
scraper/__pycache__/_abstract.cpython-38.pyc
scraper/__pycache__/_utils.cpython-38.pyc
scraper/__pycache__/allrecipes.cpython-38.pyc
