.DS_STORE
scraper/__pycache__/
scraper/__pycache__/__init__.cpython-38.pyc
scraper/__pycache__/_abstract.cpython-38.pyc
scraper/__pycache__/_utils.cpython-38.pyc
scraper/__pycache__/allrecipes.cpython-38.pyc
scraper/scrapy.log
scraper/scrapy.log
scraper/scrapy.log
*/.env
